
body { padding-top: 50px; }


#container-main { margin: 0 10px; }

.navbar .divider-vertical { margin-top: 10px; }
.navbar-sair { margin-right: 0 !important; }
.btn-salvar { width: 150px; margin-top: 10px; }